.highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

.highlights-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1;
    gap: 16px;
    margin-bottom: 20px;
  }

.btn-menu {
    padding: 15px 45px;
}

@media screen and (max-width: 1024px) {
    .highlights {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
    
    .highlights-title {
        grid-column: 1 / 3;
    }

    .btn-menu {
        font-size: smaller;
    }

}

@media screen and (max-width: 659px) {
    .highlights {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
    
    .highlights-title {
        grid-column: 1 / 1;
        margin-bottom: 1px;
    }
    
    .highlights-title h2 {
        font-size: 25pt;
    }

    .btn-menu {
        padding: 15px;
    }

}