@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;800&family=Markazi+Text:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 20px 0 20px 0;
  width: 75%;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  color: #333333;
}

input {
  font-family: "karla", sans-serif;
  font-size: 15px;
  color: #333;
}
h1, h2 {
  font-family: 'Markazi Text', serif;
}

h1 {
  font-size: 64pt;
}

h2 {
  font-size: 40pt;
}

h3 {
  font-size: 18pt;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #495E57;
}

.toTop-btn {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.toTop-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: #333333 solid 2px;
  background-color: #FFFFFF;
  color: #333333;
  cursor: pointer;
  z-index: 100;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}